<head>
  <title>Markup</title>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "reset", "article" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="container">
		<h1>Here's hoping<br/>for some good genre efforts</h1>

		<div class="col">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed, tortor. Aliquam erat volutpat. Etiam consequat imperdiet lorem. Nullam aliquet volutpat wisi. Cum sociis natoque penatibus et magnis dis parturient<span class="CCspace">&nbsp;</span> montes, nascetur ridiculus mus. Sed dolor pede, tempus non, volutpat dignissim, cursus non, mauris. In tristique. Integer blandit, lorem eget tincidunt posuere, quam wisi fermentum elit, quis aliquam ante enim at nibh. Sed faucibus sem et mi. Donec iaculis nulla nec urna. Phasellus ultricies est et urna.</p>
			<p>Praesent congue sagittis elit. Nullam sagittis tortor ut dui. Praesent tristique feugiat ligula. Quisque congue ante vel augue facilisis nonummy. Nulla auctor, purus id ullamcorper ultrices, justo metus venenatis odio, eu nonummy pede urna pretium tortor. Aliquam erat volutpat. Nullam ante. Aenean feugiat. Etiam lacinia dolor sagittis nunc. Maecenas nibh risus, suscipit vel, elementum vitae, posuere et, purus. Vivamus ipsum nunc, mattis non, gravida ut, tempor et, magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed sem. Integer accumsan mi sed metus porta volutpat. Duis sollicitudin enim at diam. Donec ultrices sem aliquam ante ullamcorper placerat.</p>
		</div>

		<div class="col">
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam tristique arcu vitae dui. Ut tempus wisi eget urna. Nullam laoreet scelerisque felis. Aliquam turpis libero, iaculis nec, porta nec, condimentum<span class="CCpullout"><del> [Pullout: </del><span><%= image_tag "asdf.png" %> The office monkey, riding the office camel. </span><del>] </del></span> sit amet, dolor. Proin cursus orci eu purus. In quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus accumsan, augue vitae vehicula viverra, risus velit consequat nunc, ut molestie erat risus non dui. Morbi placerat leo. Maecenas iaculis elit at eros. Cras sem. Phasellus augue.</p>

			<p>Integer molestie eros et urna. Aenean egestas lectus ac mi. Etiam semper lectus at ipsum. Nunc cursus wisi eget urna. Donec pretium tristique sapien. Integer ligula nunc, malesuada gravida, posuere luctus, semper sit amet, nunc. Cras sagittis blandit urna. Nunc eu arcu sed magna vestibulum dictum. Fusce pretium interdum risus. Praesent bibendum lacinia sem. Aliquam erat volutpat.</p>
			<p>Nunc arcu. Ut faucibus purus in risus. Morbi sem. Nunc consequat, sem a suscipit scelerisque, leo tortor sollicitudin nibh, quis vehicula turpis nibh et lorem. Fusce facilisis semper felis. Cras quis magna. In hac habitasse platea dictumst. Etiam quam nisl, bibendum et, tincidunt vel, tristique sed, eros. Cras laoreet. Etiam nisl eros, luctus nec, eleifend vitae, aliquam id, sapien.</p>
		</div>
	</div>
















<div class="container">
	<h1>Here's hoping<br/>for some good genre efforts</h1>
	<p>Hope springs occasional in the movie business. As that business scrambles to anticipate (digitally or otherwise) what we watch, the way we watch it and where, one season ends and another begins. The summer of the billion-dollar-grossing "Trans- formers 3" (subtitle: "Better Than 'Transformers 2' ") slides into au- tumn, and the autumn leaves of red and gold pile up the way autumn leaves do.</p>
	<p>Audiences have picked up on the nervousness of the industry and the derivative aura coming off so many multiplex titles this year. Even the enjoyable superhero films this sum- mer couldn't prevent a person from thinking: Enough. By the time "The Avengers" arrives next spring, it'll feel like a remake.</p>
	<p>Not long ago producer Jeffery Katzenberg had this to say to For- tune's Andy Serwer regarding 2011, which no one will remember as the year of the "Clash of the Titans" and "Conan the Barbarian" do-overs:</p>
	<p>"Let me have a show of hands of 
			<span class="caption_pullout">
				&nbsp;
			</span>
		people that would say the last seven or eight months of movies is the worst lineup of movies you've experience in the last five years of your life. ... It's unbelievable how bad movies have been." We'll know soon if Katzenberg's latest, "Puss in Boots," a spinoff of the "Shrek" franchise, will improve that lineup.</p>
	<p>Like everyone in Hollywood, Katzenberg has a vested interest in trashing the competition but he's also very possibly right. When a picture such as "The Help" hangs in there and attracts audiences week after week, what can a studio executive in a position to get movies made, actually made, learn from its success? Not much beyond the old, elusive story, really. Heart. As the mogul says in "Barton Fink": "Thanks for your heart, Bart. We need more heart in motion pictures." That, plus a best-selling title, along with some truthful
		<span class="caption">
			<span>
			<%= image_tag "asdf.png" %>
			<p><b>MICHAEL PHILLIPS</b></p>
			<p><i>Tribune movie critic</i></p>
			</span>
		</span>
	performances precisely where a film like "The Help" needs them<br/>most.</p>
	<p>We can expect "The Help" to turn up on Oscar night (Feb. 26) because Hollywood loves a winner, and a classy middlebrow success is the traditional definition of a winner. I hope a few of the pictures about to make their conspicuous debuts at the larger film festivals, notably Toronto, Venice and New York, turn out wonderfully so that we can talk about something other than "The Help" for a while.</p>
	<p>Call me counterintuitive in this season of Oscar hopefuls and awards talk, but I yearn for good, grown-up genre filmmaking—escapism with some style. When novelist Graham Greene worked as a film critic in the 1930s, he despaired of "the 'respect- able' film biographies" and other awards bait. "I preferred the West- erns, the crime films, the farces, the frankly commercial," he wrote.</p>
	<p>It's not a matter of diminished ex- pectations to acknowledge the com- mercial film industry's Hippocratic Oath: First, do no boredom. It's simply acknowledging the pleasure the right diversion can deliver. If you get a little artistry out of it, terrific.</p>
	<p>Wouldn't it be nice if director Ste- ven Soderbergh's panic-stricken pan- demic thriller "Contagion" (opening Sept. 9) jangles our nerves and gets us thinking? And if director Bennett Miller's "Moneyball" (Brad Pitt as Beane) manages to transcend the well-meaning, "respectable" biopic genre loathed by Greene, I say: Atta film!</p>
	<p>The big Oscar guns aren't likely to arrive until November and December. For now, through October, here are 10 to anticipate. Assuming the movies' historical adherence to baseball per- centages, if these 10 bat .250, we'll be all right.</p>
	<p class="last_line"><br/><i>Please turn to <b>Page 6</b></i></p>
</div>
















	<h1>Here's hoping<br/>for some good genre efforts</h1>


	<div class="wide_column">
		<p>Hope springs occasional in the movie business. As that business scrambles to anticipate (digitally or otherwise) what we watch, the way we watch it and where, one season ends and another begins. The summer of the billion-dollar-grossing "Trans- formers 3" (subtitle: "Better Than 'Transformers 2' ") slides into au- tumn, and the autumn leaves of red and gold pile up the way autumn leaves do.</p>
		<p>Audiences have picked up on the nervousness of the industry and the derivative aura coming off so many multiplex titles this year. Even the enjoyable superhero films this sum- mer couldn't prevent a person from thinking: Enough. By the time "The Avengers" arrives next spring, it'll feel like a remake.</p>
		<p>Not long ago producer Jeffery Katzenberg had this to say to For- tune's Andy Serwer regarding 2011, which no one will remember as the year of the "Clash of the Titans" and "Conan the Barbarian" do-overs:</p>
		<p>"Let me have a show of hands of
	</div>
	
	
	
	<div class="center_everything">
		<div class="center_column">

			<div class="tiny_column">
				people that would say the last seven or eight months of movies is the worst lineup of movies you've experience in the last five years of your life. ... It's unbelievable how bad movies have been." We'll know soon if Katzenberg's latest, 
			</div>

			<div class="tiny_column">
				<%= image_tag "asdf.png" %>
				<p class="subhead"><b>MICHAEL PHILLIPS</b></p>
				<p class="subhead"><i>Tribune movie critic</i></p>
			</div>

			<div class="tiny_column">
				performances precisely where a film like "The Help" needs them<br/>most.</p>
				<p>We can expect "The Help" to turn up on Oscar night (Feb. 26) because Hollywood loves a winner, and a classy middlebrow 
			</div>



	<div class="center_column"><!--bottom two columns-->

		<div class="wide_column"><!--column 2 bottom-->
			"Puss in Boots," a spinoff of the "Shrek" franchise, will improve that lineup.</p>
			<p>Like everyone in Hollywood, Katzenberg has a vested interest in trashing the competition but he's also very possibly right. When a picture such as "The Help" hangs in there and attracts audiences week after week, what can a studio executive in a position to get movies made, actually made, learn from its success? Not much beyond the old, elusive story, really. Heart. As the mogul says in "Barton Fink": "Thanks for your heart, Bart. We need more heart in motion pictures." That, plus a best-selling title, along with some truthful 
		</div><!--end column 2 bottom-->

		<div class="wide_column"><!--column 3 bottom-->
			success is the traditional definition of a winner. I hope a few of the pictures about to make their conspicuous debuts at the larger film festivals, notably Toronto, Venice and New York, turn out wonderfully so that we can talk about something other than "The Help" for a while.</p>
			<p>Call me counterintuitive in this season of Oscar hopefuls and awards talk, but I yearn for good, grown-up genre filmmaking—escapism with some style. When novelist Graham Greene worked as a film critic in the 1930s, he despaired of "the 'respect- able' film biographies" and other awards bait. "I preferred the West- erns, the crime films, the farces, the 
		</div><!--end column 3 bottom-->

	</div><!--end bottom two columns-->
	</div>



	
	<div class="wide_column"><!--column 4-->
		frankly commercial," he wrote.</p>
		<p>It's not a matter of diminished ex- pectations to acknowledge the com- mercial film industry's Hippocratic Oath: First, do no boredom. It's simply acknowledging the pleasure the right diversion can deliver. If you get a little artistry out of it, terrific.</p>
		<p>Wouldn't it be nice if director Ste- ven Soderbergh's panic-stricken pan- demic thriller "Contagion" (opening Sept. 9) jangles our nerves and gets us thinking? And if director Bennett Miller's "Moneyball" (Brad Pitt as Beane) manages to transcend the well-meaning, "respectable" biopic genre loathed by Greene, I say: Atta film!</p>
		<p>The big Oscar guns aren't likely to arrive until November and December. For now, through October, here are 10 to anticipate. Assuming the movies' historical adherence to baseball per- centages, if these 10 bat .250, we'll be all right.</p>
		<br/>
		<p class="last_line"><i>Please turn to <b>Page 6</b></i></p>
	</div><!--end column 4-->
	

	</div><!--end container-->
</div>

<%= image_tag "article.jpg" %>