<head>
  <title>Markup</title>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "reset", "article" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="container">
	<h1>Here's hoping<br/>for some good genre efforts</h1>
	<p>Hope springs occasional in the movie business. As that business scrambles to anticipate (digitally or otherwise) what we watch, the way we watch it and where, one season ends and another begins. The summer of the billion-dollar-grossing "Trans- formers 3" (subtitle: "Better Than 'Transformers 2' ") slides into au- tumn, and the autumn leaves of red and gold pile up the way autumn leaves do.</p>
	<p>Audiences have picked up on the nervousness of the industry and the derivative aura coming off so many multiplex titles this year. Even the enjoyable superhero films this sum- mer couldn't prevent a person from thinking: Enough. By the time "The Avengers" arrives next spring, it'll feel like a remake.</p>
	<p>Not long ago producer Jeffery Katzenberg had this to say to For- tune's Andy Serwer regarding 2011, which no one will remember as the year of the "Clash of the Titans" and "Conan the Barbarian" do-overs:</p>
	<p>"Let me have a show of hands of 
			<span class="caption_pullout">
				&nbsp;
			</span>
		people that would say the last seven or eight months of movies is the worst lineup of movies you've experience in the last five years of your life. ... It's unbelievable how bad movies have been." We'll know soon if Katzenberg's latest, "Puss in Boots," a spinoff of the "Shrek" franchise, will improve that lineup.</p>
	<p>Like everyone in Hollywood, Katzenberg has a vested interest in trashing the competition but he's also very possibly right. When a picture such as "The Help" hangs in there and attracts audiences week after week, what can a studio executive in a position to get movies made, actually made, learn from its success? Not much beyond the old, elusive story, really. Heart. As the mogul says in "Barton Fink": "Thanks for your heart, Bart. We need more heart in motion pictures." That, plus a best-selling title, along with some truthful
		<span class="caption">
			<span>
			<%= image_tag "asdf.png" %>
			<p><b>MICHAEL PHILLIPS</b></p>
			<p><i>Tribune movie critic</i></p>
			</span>
		</span>
	performances precisely where a film like "The Help" needs them<br/>most.</p>
	<p>We can expect "The Help" to turn up on Oscar night (Feb. 26) because Hollywood loves a winner, and a classy middlebrow success is the traditional definition of a winner. I hope a few of the pictures about to make their conspicuous debuts at the larger film festivals, notably Toronto, Venice and New York, turn out wonderfully so that we can talk about something other than "The Help" for a while.</p>
	<p>Call me counterintuitive in this season of Oscar hopefuls and awards talk, but I yearn for good, grown-up genre filmmaking—escapism with some style. When novelist Graham Greene worked as a film critic in the 1930s, he despaired of "the 'respect- able' film biographies" and other awards bait. "I preferred the West- erns, the crime films, the farces, the frankly commercial," he wrote.</p>
	<p>It's not a matter of diminished ex- pectations to acknowledge the com- mercial film industry's Hippocratic Oath: First, do no boredom. It's simply acknowledging the pleasure the right diversion can deliver. If you get a little artistry out of it, terrific.</p>
	<p>Wouldn't it be nice if director Ste- ven Soderbergh's panic-stricken pan- demic thriller "Contagion" (opening Sept. 9) jangles our nerves and gets us thinking? And if director Bennett Miller's "Moneyball" (Brad Pitt as Beane) manages to transcend the well-meaning, "respectable" biopic genre loathed by Greene, I say: Atta film!</p>
	<p>The big Oscar guns aren't likely to arrive until November and December. For now, through October, here are 10 to anticipate. Assuming the movies' historical adherence to baseball per- centages, if these 10 bat .250, we'll be all right.</p>
	<p class="last_line"><br/><i>Please turn to <b>Page 6</b></i></p>
</div>
















	<h1>Here's hoping<br/>for some good genre efforts</h1>


	<div class="wide_column">
		<p>Hope springs occasional in the movie business. As that business scrambles to anticipate (digitally or otherwise) what we watch, the way we watch it and where, one season ends and another begins. The summer of the billion-dollar-grossing "Trans- formers 3" (subtitle: "Better Than 'Transformers 2' ") slides into au- tumn, and the autumn leaves of red and gold pile up the way autumn leaves do.</p>
		<p>Audiences have picked up on the nervousness of the industry and the derivative aura coming off so many multiplex titles this year. Even the enjoyable superhero films this sum- mer couldn't prevent a person from thinking: Enough. By the time "The Avengers" arrives next spring, it'll feel like a remake.</p>
		<p>Not long ago producer Jeffery Katzenberg had this to say to For- tune's Andy Serwer regarding 2011, which no one will remember as the year of the "Clash of the Titans" and "Conan the Barbarian" do-overs:</p>
		<p>"Let me have a show of hands of
	</div>
	
	
	
	<div class="center_everything">
		<div class="center_column">

			<div class="tiny_column">
				people that would say the last seven or eight months of movies is the worst lineup of movies you've experience in the last five years of your life. ... It's unbelievable how bad movies have been." We'll know soon if Katzenberg's latest, 
			</div>

			<div class="tiny_column">
				<%= image_tag "asdf.png" %>
				<p class="subhead"><b>MICHAEL PHILLIPS</b></p>
				<p class="subhead"><i>Tribune movie critic</i></p>
			</div>

			<div class="tiny_column">
				performances precisely where a film like "The Help" needs them<br/>most.</p>
				<p>We can expect "The Help" to turn up on Oscar night (Feb. 26) because Hollywood loves a winner, and a classy middlebrow 
			</div>



	<div class="center_column"><!--bottom two columns-->

		<div class="wide_column"><!--column 2 bottom-->
			"Puss in Boots," a spinoff of the "Shrek" franchise, will improve that lineup.</p>
			<p>Like everyone in Hollywood, Katzenberg has a vested interest in trashing the competition but he's also very possibly right. When a picture such as "The Help" hangs in there and attracts audiences week after week, what can a studio executive in a position to get movies made, actually made, learn from its success? Not much beyond the old, elusive story, really. Heart. As the mogul says in "Barton Fink": "Thanks for your heart, Bart. We need more heart in motion pictures." That, plus a best-selling title, along with some truthful 
		</div><!--end column 2 bottom-->

		<div class="wide_column"><!--column 3 bottom-->
			success is the traditional definition of a winner. I hope a few of the pictures about to make their conspicuous debuts at the larger film festivals, notably Toronto, Venice and New York, turn out wonderfully so that we can talk about something other than "The Help" for a while.</p>
			<p>Call me counterintuitive in this season of Oscar hopefuls and awards talk, but I yearn for good, grown-up genre filmmaking—escapism with some style. When novelist Graham Greene worked as a film critic in the 1930s, he despaired of "the 'respect- able' film biographies" and other awards bait. "I preferred the West- erns, the crime films, the farces, the 
		</div><!--end column 3 bottom-->

	</div><!--end bottom two columns-->
	</div>



	
	<div class="wide_column"><!--column 4-->
		frankly commercial," he wrote.</p>
		<p>It's not a matter of diminished ex- pectations to acknowledge the com- mercial film industry's Hippocratic Oath: First, do no boredom. It's simply acknowledging the pleasure the right diversion can deliver. If you get a little artistry out of it, terrific.</p>
		<p>Wouldn't it be nice if director Ste- ven Soderbergh's panic-stricken pan- demic thriller "Contagion" (opening Sept. 9) jangles our nerves and gets us thinking? And if director Bennett Miller's "Moneyball" (Brad Pitt as Beane) manages to transcend the well-meaning, "respectable" biopic genre loathed by Greene, I say: Atta film!</p>
		<p>The big Oscar guns aren't likely to arrive until November and December. For now, through October, here are 10 to anticipate. Assuming the movies' historical adherence to baseball per- centages, if these 10 bat .250, we'll be all right.</p>
		<br/>
		<p class="last_line"><i>Please turn to <b>Page 6</b></i></p>
	</div><!--end column 4-->
	

	</div><!--end container-->
</div>

<%= image_tag "article.jpg" %>